<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Free Torrent Search - bt.yisilong.tk</title>
    <meta name="keywords" content="movies torrent, movies torrent download, 2torrent,download"/>
    <meta name="description" content="Search and Download new and favorite movies torrent music and games."/>
    <link type="image/x-icon" href="img/favicon.ico" rel="shortcut icon"/>
    <script src="//cdn.css.net/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdn.css.net/libs/font-awesome/4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/empty.css"/>
</head>
<body>
<div id="allOfPage">
    <div id="RedArea"></div>
    <div id="topArea">
        <div id="openArea" style="display:none">
            <i class="fa fa-bars"></i>
        </div>
    </div>
    <div id="moreArea">
        <div id="closeArea">
            <i class="fa fa-times"></i>
        </div>
    </div>
    <div id="middleArea">
        <div class="SecondInContent">
            <div class="logoArea">
                <div class="LOGO">
                    <h1 class="seo_text">index_seo_text</h1>
                </div>
            </div>
            <div class="SearchArea">
                <form id="searchFrom" class="Search_home">
                    <input type="text" id="search" autocomplete="off" placeholder="Search" class="findAnswer TheInputBox"/>
                    <button class="SubmitButton"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="IntroduceArea">
                <h2>New and favorite torrent, Anything you want</h2>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#searchFrom").submit(function (e) {
        e.preventDefault();
        var findAnswer = $(".findAnswer");
        var kw = findAnswer.val();
        if (!kw) {
            findAnswer.focus();
            return false
        }
//        if (kw == "你想看什么电影？") {
//            findAnswer.val("");
//            findAnswer.focus();
//            return false
//        }
        window.location = "q?s=" + encodeURIComponent(kw);
//        $.cookie.set("kw", encodeURIComponent(kw));
        return false
    });
</script>
</body>
</html>