<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Download {{ info.name }} Torrent</title>
    <meta name="keywords" content="{{ info.name }},torrent,magnet,download"/>
    <link type="image/x-icon" href="img/favicon.ico" rel="shortcut icon"/>
    <meta name="viewport" content="width=device-width">
    <script src="//cdnjs.loli.net/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen"/>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/search.css"/>
    <link rel="stylesheet" href="css/empty.css"/>
    <script src="js/utils.js"></script>
</head>
<body>
<div class="site-wrap">
    <div id="header">
        <div class="header-wrap">
            <div class="header__search-wrap clearfix">
                <a tabindex="-1" href="/" class="logo">
                    <h3 class="header_logo">Free Torrent Search</h3>
                </a>
                <div class="inSearch">
                    <form id="searchFrom" style="background-color: #f7f7f7;">
                        <input class="findAnswer" id="search" placeholder="Search" style="background-color: #f7f7f7;"
                               type="text" value="{{ info.keyword }}">
                        <button class="findSubmit" style="cursor: pointer;"><i class="fa fa-search fa-lg"></i></button>
                    </form>
                </div>
                <div id="openArea"></div>
            </div>
            <div class="linkbar zcm-wrap clearfix zcm-wrap--header" style="display: none;">
                <span class="head-hot-keywords">
                    <a style="color: #5cb85c" target="_blank" href="http://javfind.com/">
                        <i class="fa fa-play-circle-o"></i> Jav Sex Tube
                    </a>
                    <a style="color: #f60" href="/tags"><i class="fa fa-tags"></i> TAG</a>
                    <a href="/new"><i class="fa fa-history"></i> Recent torrents</a>
                </span>
                <span class="fr">
                    <i class="fa fa-globe"></i> Language:
                        <select class="language" autocomplete="off" onchange="changeLanguage(this.value)">
                            <option value="en" selected="selected">English</option>
                            <option value="ko">한국어</option>
                            <option value="zh-Hant">繁體中文</option>
                            <option value="zh-Hans">简体中文</option>
                            <option value="ja">日本語</option>
                        </select>
                </span>
            </div>
        </div>
    </div>
    <div id="container" class="clearfix">
        <div id="middleMiddle" class="lang_middleMiddle_en">
            <div id="fileIntrodution">
                <div class="H2Content">
                    <div class="clearfix">
                        <table style="float:left;">
                            <tbody>
                            <tr>
                                <th class="col-lg-2">AddTime</th>
                                <td>{{ Util.format_ts(info.create_time) }}</td>
                            </tr>
                            <tr>
                                <th class="col-lg-2">Updated</th>
                                <td>{{ Util.format_ts(info.access_ts) }}</td>
                            </tr>
                            <tr>
                                <th class="col-lg-2">Size</th>
                                <td>{{ Util.sizeof_fmt(info.length) }}</td>
                            </tr>
                            <tr>
                                <th class="col-lg-2">Hot</th>
                                <td>{{ info.hit }}</td>
                            </tr>
                            <tr>
                                <th class="col-lg-2">Files</th>
                                <td>{{ info.files | length or 1}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="qrcode">
                        </div>
                    </div>
                    {% set magnet_link = "magnet:?xt=urn:btih:" + info.info_hash | upper %}
                    {% set magnet_link_dn = magnet_link + "&dn=" + info.name | urlencode %}
                    <table>
                        <tbody>
                        <tr height=25>
                            <th class="col-lg-2">Magnet</th>
                            <td><i style="color: #999" class="fa fa-magnet"></i>
                                <a rel="nofollow" target="_blank"
                                   href="{{ magnet_link_dn }}">{{ magnet_link }}</a>
                            </td>
                        </tr>
                        <tr height=35>
                            <td colspan="2">
                                <div class="downinfo" style="padding: 10px  20px;">
                                    <a rel="nofollow" href="{{ magnet_link_dn }}" class="btn nodecor btn-info mgr_20">
                                        <i class="fa fa-magnet"></i>&nbsp;&nbsp;MAGNET
                                    </a>
                                    <a target="_blank" href="javascript:void(0)" class="btn clip_button_error nodecor btn-success mgr_20">
                                        <i class="fa fa-download"></i>&nbsp;&nbsp;TORRENT
                                    </a>
                                    <a href="javascript:void(0)" data-clipboard-text="{{ magnet_link_dn }}"
                                       rel="nofollow" class="btn clip_button nodecor btn-warning mgr_20">
                                        <i class="fa fa-paper-plane-o"></i>&nbsp;&nbsp;COPY LINK
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="fileList">
                <h2>File List</h2>
                <div class="H2Content">
                    <ul style="max-height:500px;overflow:auto;font-size:13px;overflow-x:hidden;">
                    {% if info.files %}
                        {% for f in info.files %}
                        <li style="color:#999;width:680px;line-height:22px;padding-left:10px;">
                            <i class="fa fa-file-excel-o"></i>
                            <span style="color: #666; margin: 0 10px;">{{ f.path }}</span>
                            <em>{{ Util.sizeof_fmt(f.length) }}</em>
                        </li>
                        {% endfor %}
                    {% else %}
                        <li style="color:#999;width:680px;line-height:22px;padding-left:10px;">
                            <i class="fa fa-file-excel-o"></i>
                            <span style="color: #666; margin: 0 10px;">{{ info.name }}</span>
                            <em>{{ Util.sizeof_fmt(info.length) }}</em>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
            <div id="fileDownload">
                <h2>Tips</h2>
                <div class="H2Content" style="margin-left: 10px">
                    <p style="color: #909090">We do not store any content of the torrent ,only gather and index the
                        metadata such as file name ,file size, magnet link from the DHT network. We do not store torrent
                        files and can not provide a download url, you can download the torrent file through the third
                        party website or magenet to get the torrent contents. Please pay attention that we are not
                        responsible for the authenticity and legality of the torrent files.</p>
                </div>
            </div>
        </div>
        <div id="right_content" style="display: none;">
            <div class="hotSearch" style="margin-top: 20px;">
                <h3>Hot Search</h3>
                <ul class="ul1">
                </ul>
            </div>
            <div class="hotSearch" style="margin-bottom: 20px;margin-top:20px;">
                <h3>Other Search</h3>
                <ul class="ul1">
                </ul>
            </div>
        </div>
    </div>
    <ul id="toolBar" class="toolBar-wrap" style="bottom:50px;left:750px;">
        <li>
            <a id="gotopTool" onclick="$('html,body').animate({scrollTop: '0px'}, 800);" class="gotop barBox"
               href="javascript:void(0);" title="回到顶部 ">
                <i class="fa fa-arrow-circle-up"></i>
            </a>
        </li>
    </ul>
</div>
<div class="footer">
    <div class="footer-wrap">
        <br />
        <span class="copyright">Copyright © 2019 <strong>btku.eu.org</strong>. All rights reserved.</span>
    </div>
</div>
<script src="//cdnjs.loli.net/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
<script src="//cdnjs.loli.net/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script src="//cdnjs.loli.net/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"/>
<script type="text/javascript">
    $(function () {
        $('.results').hover(function () {
            $(this).addClass('highlight')
        }, function () {
            $(this).removeClass('highlight')
        });
        $('.qrcode').fancybox({
            helpers: {
                title: {
                    type: 'float'
                }
            }
        });
    });
    $('#searchFrom').submit(function (e) {
        e.preventDefault();
        var kw = $('.findAnswer').val();
        if (!kw) {
            $('.findAnswer').focus();
            return false;
        }
        searchLog(kw);
        window.location = '/q?s=' + encodeURIComponent(kw);
//        $.cookie.set("kw", encodeURIComponent(kw));
        return false;
    });
    $(window).bind("scroll", function () {
        var scrollTop = $(window).scrollTop();
        if (scrollTop > 100) {
            $("#toolBar").show();
        } else {
            $("#toolBar").hide();
        }
    });
    function searchLog(keyword) {
//        $.ajax({
//            cache: false,
//            type: "GET",
//            url: "/search-log",
//            data: {wd: keyword}
//        });
    }

    function on_copy(name, title, desc, type) {
        var clip = new ZeroClipboard($(name));
        clip.on("ready", function () {
            this.on("aftercopy", function (event) {
                showCopyOk(title, desc, type);
            });
            this.on("copy", function (event) {
            })
        });
        clip.on("error", function (event) {
            ZeroClipboard.destroy();
        });
    }

    on_copy('.clip_button', "Good job!", "Copied successfully!", "success");
    on_copy('.clip_button_error', "Stop!", "We don't save torrent!", "error");

    function showCopyOk(title, desc, type) {
        swal(title, desc, type);
    }
    function changeLanguage(lang) {
        window.location = $("link[hreflang=" + lang + "]").attr('href');
    }
    if (self != top) {
        top.location = self.location;
    }
</script>
</body>
</html>
