<!DOCTYPE html>
<!--[if IEMobile 7 ]>
<html lang="zh_CN" class="no-js iem7"> <![endif]-->
<!--[if lt IE 7]>
<html class="ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7 no-js" lang="zh_CN"> <![endif]-->
<!--[if IE 7]>
<html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="zh_CN"> <![endif]-->
<!--[if IE 8]>
<html class="ie8 lt-ie10 lt-ie9 no-js" lang="zh_CN"> <![endif]-->
<!--[if IE 9]>
<html class="ie9 lt-ie10 no-js" lang="zh_CN"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html class="js no-touch opacity csstransforms3d csstransitions svg cssfilters is-not-mobile-device full-urls has-search-focus">
<!--<![endif]-->

<head>
    <title>BTKU - Free Magnet Search</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
    <meta name="description" content="BTKU - Free Magnet,Torrent Search"/>
    <meta name="keywords" content="torrent,magnet,free">
    <link title="BTKU" type="application/opensearchdescription+xml" rel="search" href="/opensearch.xml">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png">
    <link rel="icon" sizes="any" href="/static/img/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/static/css/s1764.css" type="text/css">
    <link rel="stylesheet" href="/static/css/o1764.css" type="text/css">
    <script src="/static/js/common.js"></script>
    <link rel="stylesheet" href="//fonts.loli.net/css?family=Lato|Open+Sans&display=swap" type="text/css">
    <script src="//cdnjs.loli.net/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        body {
            min-width: 320px;
        }

        .red-area {
            width: 100%;
            height: 5px;
            background: #c9481c;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 999999;
        }

        .content-wrap--home {
            top: 18%;
        }

        @media only screen and (min-height: 700px) {
            .foot-home {
                bottom: 20%;
            }
        }

        .foot-home {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            padding: 1em 0;
            text-align: center;
        }
    </style>
</head>

<body class="page-index body--home">
<div class="red-area"></div>
<div class="site-wrapper site-wrapper--home js-site-wrapper">
    <div class="header-wrap--home js-header-wrap">
        <div class="header--aside js-header-aside">
            <div class="header--aside__item showcase header__label">
            </div>
        </div>
    </div>
    <div class="content-wrap--home">
        <div id="content_homepage" class="content--home">
            <div class="cw--c">
                <div class="logo-wrap--home">
                    <div class="logo_homepage"></div>
                </div>
                <div class="search-wrap--home">
                    <form id="search_form_homepage" class="search--home js-search-form search--adv search--focus">
                        <input id="search_form_input_homepage" class="js-search-input search__input--adv"
                               type="text" autocomplete="off" name="s" tabindex="1" value="" autocapitalize="off"
                               autocorrect="off">
                        <input id="search_button_homepage" class="search__button js-search-button" type="submit"
                               tabindex="2" value="S">
                        <input id="search_form_input_clear" class="search__clear js-search-clear" type="button"
                               tabindex="3" value="X">
                        <div id="search__autocomplete" class="search__autocomplete"
                             style="position: absolute; display: none;"></div>
                    </form>
                </div>
                <div class="tag-home">
                    <div class="tag-home__wrapper">
                        <div class="tag-home__item">New and favorite torrent, Anything you want</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="foot-home js-foot-home"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        let client = {
            browser: function () {
                let ua = navigator.userAgent, app = navigator.appVersion;
                return {//移动终端浏览器版本信息
                    isTrident: ua.indexOf('Trident') > -1, //IE内核
                    isPresto: ua.indexOf('Presto') > -1, //opera内核
                    isWebKit: ua.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                    isGecko: ua.indexOf('Gecko') > -1 && ua.indexOf('KHTML') == -1, //火狐内核
                    isiOS: !!ua.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                    isAndroid: ua.indexOf('Android') > -1 || ua.indexOf('Linux') > -1, //android终端或者uc浏览器
                    iPhone: ua.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器
                    iPad: ua.indexOf('iPad') > -1, //是否iPad
                    isWebApp: ua.indexOf('Safari') === -1, //是否web应该程序，没有头部与底部
                    isWeiXin: ua.indexOf('MicroMessenger') > -1, //是否微信
                    isQQ: ua.match(/\sQQ/i) //是否QQ
                };
            }(),
            os: function () {
                let ua = navigator.userAgent,
                    isWindowsPhone = /(?:Windows Phone)/.test(ua),
                    isSymbian = /(?:SymbianOS)/.test(ua) || isWindowsPhone,
                    isAndroid = /(?:Android)/.test(ua),
                    isFireFox = /(?:Firefox)/.test(ua),
                    isChrome = /(?:Chrome|CriOS)/.test(ua),
                    isTablet = /(?:iPad|PlayBook)/.test(ua) || (isAndroid && !/(?:Mobile)/.test(ua)) || (isFireFox && /(?:Tablet)/.test(ua)),
                    isPhone = /(?:iPhone)/.test(ua) && !isTablet,
                    isPc = !isPhone && !isAndroid && !isSymbian;
                return {
                    isTablet: isTablet,
                    isPhone: isPhone,
                    isAndroid: isAndroid,
                    isPc: isPc
                };
            }(),
            lang: (navigator.browserLanguage || navigator.language).toLowerCase()
        };
        if (client.os.isPc) {
            $('#search_form_input_homepage').val('').focus();
        }
        $('#search_form_input_homepage').on('input propertychange', function () {
            do_sugg(this, '#search_form_homepage', '#search_form_input_homepage');
        });
        $(document).mouseup(function (e) {
            let _con = $('#search_form_input_homepage,#search__autocomplete');
            if (!_con.is(e.target) && _con.has(e.target).length === 0) {
                $("#search__autocomplete").hide();
                $('#search_form_homepage').removeClass('has-suggestions');
            }
        });
        $('#search_form_input_homepage').focus(function () {
            do_sugg(this, '#search_form_homepage', '#search_form_input_homepage');
        });
        $('#search_form_input_clear').click(function () {
            $('#search_form_input_homepage').val('').focus();
            $('#search_form_homepage').removeClass("has-text").removeClass('has-suggestions');
            $("#search__autocomplete").hide();
            //$('#error_homepage').html("").hide();
        });
        $(document).keydown(function (event) {
            if ($('#search__autocomplete').is(':visible')) {
                keyDown(event, '#search_form_input_homepage');
            }
        });
        $(document).keyup(function () {
            let autoc = $('#search__autocomplete');
            if (autoc.is(':visible')) {
                let o_val = autoc.val();
                autoc.focus();
                autoc.val('');
                autoc.val(o_val);
            }

        });
    });

    $("#search_form_homepage").submit(function (e) {
        e.preventDefault();
        let q = $("#search_form_input_homepage");
        let kw = q.val();
        if (!kw) {
            q.focus();
            return false
        }
        window.location = "q?s=" + encodeURIComponent(kw);
        return false
    });
</script>
</body>

</html>